<footer class="footer">

    <nav class="footer__menu">
        <ul>
            <li class="footer__menu--item">Articles</li>
            <li class="footer__menu--item">Books</li>
            <li class="footer__menu--item">Events</li>
            <li class="footer__menu--item">Reasons</li>
            <li class="footer__menu--item">Tips</li>
        </ul>
    </nav>
    <nav class="footer__menu">
        <ul>
            <li class="footer__menu--item">Twitter</li>
            <li class="footer__menu--item">Instagram</li>
            <li class="footer__menu--item">Mastodon.social</li>
        </ul>
    </nav>
    <section class="footer__copyright">
        <p>©2021</p>
        <p>we <span class="footer__copyright--highlight">❤︎</span> components</p>
    </section>
</footer>


