<main class="main">
    <section class="main__hero">
        <h1 class="main__hero--title">Anonymous proxy</h1>
        <p class="main__hero--claim">
            In hac habitasse platea dictumst.
        </p>
        <a class="main__arrow" href="#purchase" title="Go"><img class="main__arrow--img-scroll" src="./assets/images/ico-scroll-down.svg" alt="Go" title="Go"></a>
    </section>   
    <section class="main__intro">
        <article class="main__intro--wrapper">
            <p class="main__intro--subtitle">Insomnia tips</p>
            <h2 class="main__intro--title">Looking through a window</h2>
            <p class="main__intro--description">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <a class="main__intro--button" href="#purchase" title="Go">Go</a>
        </article>
    </section>
    <section class="main__purchase" id="purchase">
        <h2 class="main__purchase--title">3 Reasons to purchase</h2>
        <article class="main__purchase--article">
            <h3 class="main__purchase--subtitle">Ut sed metus</h3>
            <p class="main__purchase--description">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="main__purchase--article">
            <h3 class="main__purchase--subtitle">Curabitur ac erat</h3>
            <p class="main__purchase--description">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="main__purchase--article">
            <h3 class="main__purchase--subtitle">Morbi dictum</h3>
            <p class="main__purchase--description">Aliquam in dolor et dolor tincidunt.</p>
            
        </article>
        <a class="main__purchase--button" href="#" title="More reasons">More reasons</a>
                <a class="main__arrow main__arrow--shadow" href="#top" title="Go up"><img class="main__arrow--img-up" src="./assets/images/ico-arrow.svg" alt="Go up" title="Go up"></a>
    </section>
    
</main>