<main class="main">
  <section class="main__hero">
    <h1 class="main__hero--title">Anonymous proxy</h1>
    <p class="main__hero--claim">
      In hac habitasse platea dictumst.
    </p>
    <a class="main__arrow main__arrow--down" href="#purchase" title="Go">
      <img class="main__arrow--img-scroll" src="./assets/images/ico-scroll-down.svg" alt="Go" title="Go">
    </a>
  </section>
  <section class="main__intro">
    <article class="main__intro--wrapper">
      <h6 class="main__intro--subtitle">Insomnia tips</h6>
      <h2 class="main__intro--title">Looking through a window</h2>
      <p class="main__intro--description">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <a class="main__intro--button" href="#purchase" title="Go">Go</a>
    </article>
  </section>
  <section class="main__purchase" id="purchase">
    <h2 class="main__purchase--title">3 Reasons to purchase</h2>
    <article class="main__purchase--article">
      <h3 class="main__purchase--subtitle">Ut sed metus</h3>
      <p class="main__purchase--description">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="main__purchase--article">
      <h3 class="main__purchase--subtitle">Curabitur ac erat</h3>
      <p class="main__purchase--description">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="main__purchase--article">
      <h3 class="main__purchase--subtitle">Morbi dictum</h3>
      <p class="main__purchase--description">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="main__purchase--button" href="#" title="More reasons">More reasons</a>
  </section>
  <section class="main__special-offer">
    <article class="main__special-offer--wrapper">
      <h2 class="main__special-offer--title">Special offer</h2>
      <h3 class="main__special-offer--subtitle">20% Discount</h3>
      <p class="main__special-offer--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus adipisci repellat corrupti beatae nesciunt similique dignissimos qui, dolores incidunt consequatur placeat aut unde quam ipsa quibusdam tempore. Quae, ut reiciendis? Minima alias nesciunt nobis quasi enim, eius blanditiis, temporibus, amet pariatur eligendi a voluptas provident quam maxime quibusdam! Facere, aspernatur.</p>
    </article>
  </section>
</main>