$colorPrincipal: #f26002;

$colorContrast0: #eff9ff;
$colorContrast1: #8ccbea;
$colorContrast2: #0271bc;
$ColorContrast3: #304268;
$ColorContrast4: #4a4a4a;

$colorWhite: #fff;
$colorBlack: #000;

$colorBlack50: #00000080;
$colorBlack20: #00000033;
$colorWhite50: #ffffff80;



$typoTitle: 'Roboto Slab', serif;
$typoText: 'Roboto', sans-serif;



$tablet: 768px;
$desktop: 1200px;