.footer {
  background-color: $ColorContrast3;
  font-family: $typoText;
  color: $colorWhite;
  font-weight: 300;
  text-align: center;
  padding: 60px 15px 45px;
  @media all and (min-width: $tablet) {
    padding: 45px 39px;
    text-align: left;
  }
  @media all and (min-width: $desktop) {
    padding: 45px 370px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
    }
    @media all and (min-width: $desktop) {
        width: 540px;
        margin: 0 auto;
    }
  }
  &__menu {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    &--item {
      list-style-type: none;
    }
    &--link {
      color: $colorWhite;
      text-decoration: none;
      box-sizing: content-box;
      padding: 5px;
    }
    @media all and (min-width: $tablet) {
      margin-bottom: 0;
      width: 100%;
    }
    @media all and (min-width: $desktop) {
      width: 160px;
    }
  }
  &__copyright {
    font-size: 14px;
    line-height: 30px;
    &--highlight {
      color: $colorPrincipal;
    }
    @media all and (min-width: $tablet) {
      order: -1;
      width: 100%;
    }
    @media all and (min-width: $desktop) {
      width: 160px;
    }
  }
}
