.main {
  width: 100%;
}

.main__hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      $colorWhite50,
      25%,
      $colorBlack20
    ),
    url("../images/cover.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px 53px;
  @media all and (min-width: $tablet) {
    padding: 0 39px 45px;
  }
  @media all and (min-width: $desktop) {
    padding: 0 39px 13px;
  }
  &--title,
  &--claim {
    color: $colorWhite;
  }
  &--title {
    font-family: $typoTitle;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
    margin-bottom: 10px;
    word-spacing: 100vw;
    text-align: center;
    text-shadow: 0 2px 3px $colorBlack20;
    @media all and (min-width: $tablet) {
      font-size: 80px;
      line-height: 106px;
      margin-bottom: 20px;
    }
    @media all and (min-width: $desktop) {
      font-size: 100px;
      line-height: 132px;
      text-shadow: 0 2px 5px $colorBlack20;
      margin-bottom: 0;
    }
  }
  &--claim {
    font-family: $typoText;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
    @media all and (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 30px;
    }
    @media all and (min-width: $tablet) {
      font-size: 26px;
    }
  }
}

@keyframes arrow-up {
  0% {
    transform: translateY(-5px);
    box-shadow: 0 -2px 4px 0 $colorPrincipal;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
    box-shadow: 0 -2px 4px 0 $colorPrincipal;
  }
}
@keyframes arrow-down {
  0% {
    transform: translateY(5px);
    box-shadow: 0 2px 4px 0 $colorPrincipal;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
    box-shadow: 0 2px 4px 0 $colorPrincipal;
  }
}

.main__arrow {
  background-color: $colorWhite;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  line-height: 45px;
  text-align: center;
  &--img-up {
    position: relative;
    top: 6px;
  }
  &--img-scroll {
    position: relative;
    top: 2px;
  }
  &--down {
    &:hover {
      animation: arrow-down 1s infinite ease-out;
    }
  }
  &--up {
    display: block;
    box-shadow: 0 2px 4px 0 $colorBlack50;
    position: relative;
    text-align: center;
    margin: -60px auto 0;
    transform: translateY(-50%);
    &:hover {
      animation: arrow-up 1s infinite ease-out;
    }
    @media all and (min-width: $tablet) {
      margin: -45px auto 0;
    }
  }
}

.main__intro {
  padding: 30px 15px 45px;
  @media all and (min-width: $tablet) {
    padding: 30px 39px 60px;
  }
  @media all and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
  &--wrapper {
    @media all and (min-width: $desktop) {
      width: 730px;
    }
  }
  &--subtitle,
  &--description,
  &--button {
    font-family: $typoText;
  }
  &--subtitle {
    color: $colorContrast1;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    @media all and (min-width: $desktop) {
      font-size: 16px;
    }
  }
  &--title {
    font-family: $typoTitle;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
    @media all and (min-width: $tablet) {
      font-size: 26px;
      line-height: 45px;
      margin-bottom: 30px;
    }
    @media all and (min-width: $desktop) {
      font-size: 32px;
    }
  }
  &--description {
    color: $ColorContrast4;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    @media all and (min-width: $tablet) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  &--button {
    display: block;
    width: 76px;
    height: 45px;
    border: solid 2px $colorPrincipal;
    border-radius: 45px;
    color: $colorPrincipal;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    transition: border-color ease-out 0.4s, color ease-out 0.4s,
      box-shadow ease-in 0.2s;
    @media all and (min-width: $tablet) {
      width: 91px;
    }
    @media all and (min-width: $desktop) {
      width: 160px;
    }
    &:hover {
      border-color: $colorContrast2;
      color: $colorContrast2;
    }
    &:active {
      box-shadow: 0 2px 4px 0 $colorContrast2;
    }
  }
}

.main__purchase {
  background-color: $colorContrast0;
  padding: 30px 15px 60px;
  place-items: center;
  text-align: center;
  display: grid;
  @media all and (min-width: $tablet) {
    grid-template: 120px 112px 165px 0 / repeat(3, 1fr);
    padding: 0 24px;
  }
  @media all and (min-width: $desktop) {
    padding: 0 71px;
  }
  &--article {
    align-self: start;
    &:first-of-type {
      @media all and (min-width: $desktop) {
        justify-self: flex-end;
      }
    }
    &:last-of-type {
      @media all and (min-width: $desktop) {
        justify-self: flex-start;
      }
    }
  }
  &--title {
    font-family: $typoTitle;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 45px;
    @media all and (min-width: $tablet) {
      grid-column: span 3;
      margin-top: 30px;
      font-size: 26px;
      line-height: 45px;
    }
    @media all and (min-width: $desktop) {
      font-size: 32px;
    }
  }
  &--subtitle {
    font-family: $typoTitle;
    font-size: 18px;
    line-height: 30px;
    @media all and (min-width: $tablet) {
      margin-bottom: 14px;
      font-size: 24px;
    }
  }
  &--description {
    font-family: $typoText;
    font-size: 18px;
    line-height: 30px;
    margin: 0 55px 45px;
    @media all and (min-width: $tablet) {
      margin: 0 14px;
      font-size: 20px;
    }
  }
  &--button {
    display: block;
    font-family: $typoText;
    width: 184px;
    height: 45px;
    border-radius: 45px;
    background-color: $colorPrincipal;
    color: $colorWhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    transition: background-color ease-out 0.4s, box-shadow ease-in 0.2s;
    @media all and (min-width: $tablet) {
      grid-column: span 3;
      width: 210px;
    }
    @media all and (min-width: $desktop) {
      width: 255px;
    }
    &:hover {
      background-color: $colorContrast2;
    }
    &:active {
      box-shadow: 0 2px 4px 0 $colorContrast2;
    }
  }
}

.main__special-offer {
  background-color: $colorPrincipal;
  width: 100%;
  padding: 30px 39px 60px;
  display: none;
  &--title {
    font-family: $typoTitle;
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 10px;
    grid-column: span 2;
    @media all and (min-width: $desktop) {
      font-size: 32px;
    }
  }
  &--subtitle {
    font-family: $typoTitle;
    font-size: 20px;
    line-height: 30px;
    @media all and (min-width: $desktop) {
      font-size: 24px;
    }
  }
  &--description {
    font-family: $typoText;
    font-size: 20px;
    line-height: 30px;
  }
  @media all and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
  &--wrapper {
    @media all and (min-width: $tablet) {
      display: grid;
      grid-template-columns: 35% 1fr;
      grid-template-rows: 20% 1fr;
    }
    @media all and (min-width: $desktop) {
      width: 730px;
    }
  }
}
