.main {
  width: 100%;
}

.main__hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px 53px;

  &--title,
  &--claim {
    color: $colorWhite;
  }
  &--title {
    font-family: $typoTitle;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 10px;
    word-spacing: 100vw;
    text-align: center;
  }
  &--claim {
    font-family: $typoText;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
  }
}

.main__arrow {
  background-color: $colorWhite;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  line-height: 45px;
  text-align: center;
  &--img-up {
    position: relative;
    top: 6px;
  }
  &--img-scroll {
    position: relative;
    top: 2px;
  }
}

.main__intro {
    padding: 30px 15px 45px;
    &--subtitle, &--description, &--button {
        font-family: $typoText;
    }
    &--subtitle {
        color: $colorContrast1;
        line-height: 2.14;
    }
    &--title {
        font-family: $typoTitle;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    &--description {
        color: $ColorContrast4;
        font-size: 18px;
        line-height: 1.67;
        margin-bottom: 30px;
    }
    &--button {
        border-color: $colorPrincipal;
        width: 76px;
        border-radius: 45px;
        background: none;
        border-style: solid;
        &:active, &:focus {
            border-color: $colorPrincipal;
            color: $colorPrincipal;
        }

        &-link {
            color: $colorPrincipal;
            text-decoration: none;
            font-size: 20px;
            line-height: 1.8;
        }
    }
}
